.error-page header {
    height: 150px;
    width: 100vw;
}

.error-page .section-errorPage {
    height: calc(100vh - 150px);
    width: 100vw;
    background: hsla(217, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
    text-align: center;
    align-content: center;
}

.section-errorPage p {
    text-transform: uppercase;
    font-size: 40px;
    color: white;
}