.home-page section {
    height: calc(100vh - 150px);
}
.home-categories-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    overflow: auto;
}
.page-unprotected header.active {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.home-categories-container li {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 75px;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    list-style: none;
    box-sizing: border-box;
    color: black;
    font-size: 25px;
}
.home-categories-container li:hover {
    border: 4px solid blue;
} 
.home-categories-container li:hover a {
    color: blue;
} 

/* -------------------------------- */

.page-unprotected header.active .navbar-container {
    display: flex;
}

/* -------------------------------- */
.burgerContainer-homePage {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
@media (max-width: 765px) {
    .burgerContainer-homePage {
        display: flex;
    }
    .navbar-container {
        display: none;
    }
    .home-page section {
        height: calc(100vh - 65px);
    }
}