.resetPasswordPage {
    height: 100vh;
    width: 100vw;
        
    background: hsla(217, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );

    display: flex;
    justify-content: center;
    align-items: center;
}
.resetPasswordPage form {
    height: 400px;
    width: 400px;
    background-color: #00000080;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.resetPasswordPage form h1 {
    height: 20px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
}
.password-resetPasswordPage {
    position: relative;
    width: 80%;
    height: 40px;
}
.password-resetPasswordPage input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 0 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
}
.password-resetPasswordPage label {
    position: absolute;
    top: -15px;
    left: 0;
    color: white;
}
.resetPasswordPage form button {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid white;
    text-transform: uppercase;
    background-color: dodgerblue;
    color: white;
}