#root {
  margin: 0;
  padding: 0;
}
.page-unprotected {
  min-height: 100vh;
  width: 100vw;

}
.page-unprotected header {
  height: 150px;
  width: 100%;
  background-color: #71edfb;
}
.navbar-container {
  height: 100%;
}
