#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}
.page-unprotected {
  height: 100vh;
  width: 100vw;

}
.page-unprotected header {
  height: 150px;
  width: 100%;
  background-color: firebrick;
}
.navbar-container {
  height: 100%;
}

